<div class="m-3 animated fadeIn">
    <div class="card-columns" >
        <div class="card puntero" *ngFor="let i of items" (click)="showItem(i)">
          <img [src]="i.images | noimage" class="card-img-top" [alt]="i.name">
          <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text" *ngIf="!search">
                <span class="badge badge-primary" *ngFor="let artist of i.artists">{{artist.name}}</span>
            </p>
          </div>
        </div>
    </div>  
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>